div.css3d-renderer {
  width: 100%;
  height: 100%;
}
div.css3d-camera {
  width: 100%;
  height: 100%;
}
div.css3d-editor div.css3d-camera {
  width: 100%;
}
div.css3d-renderer * {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
